/*==========================================
    contact
==========================================*/
.contact {
    .part-address {
        padding: 120px 0;
        .single-adress {
            text-align: center;
            background: #f0f8ff;
            padding: 40px 40px 31px;
            @include transition($transition); 
            .part-icon {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid $base-color-2;
                font-size: 25px;
                text-align: center;
                color: $base-color-2;
                line-height: 100%;
                line-height: 60px;
                display: inline-block;
                margin-bottom: 23px;
                @include transition($transition); 
            }
            .part-text {
                h3 {
                    font-size: 24px;
                    color: $base-color;
                    font-weight: 700;
                    margin-bottom: 18px;
                    @include transition($transition); 
                }
                ul {
                    li {
                        font-size: 16px;
                        line-height: 26px;
                        color: #666;
                        padding-bottom: 6px;
                        @include transition($transition); 
                    }
                }
            }
            &:hover {
                background: $base-color;
                .part-icon {
                    color: $white;
                    border-color: $white;
                }
                .part-text {
                    h3 {
                        color: $white;
                    }
                    ul {
                        li {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .get-in-touch {
        padding: 120px 0 90px;
        background: aliceblue;
        .part-form {
            form {
                input {
                    width: 100%;
                    height: 60px;
                    border: 1px solid $base-color-2;
                    margin-bottom: 30px;
                    padding: 30px; 
                }
                textarea {
                    padding: 18px 30px;
                    margin-bottom: 24px;
                    height: 200px;
                    width: 100%;
                    border: 1px solid $base-color-2;
                }
                button {
                    color: $white;
                    text-transform: uppercase;
                    background: $base-color-2;
                    height: 60px;
                    width: 100%;
                    outline: none;
                    cursor: pointer;
                    border: 1px solid $base-color-2;
                    @include transition($transition);
                    &:hover {
                        background: transparent;
                        color: $base-color-2;
                    }
                }
            }
        }
    }
}