/*==========================================
    banner
==========================================*/
.banner {
    background: url('../img/banner.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    &.banner-2 {
        background: url('../img/banner2.jpg') center center no-repeat;
    }
    &.banner-3 {
        background: url('../img/banner3.jpg') center center no-repeat;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000050;
        opacity: .65;
    }
    .buttonBar {
        display: none!important;
    }
    .mb_YTPTime {
        display: none!important;
    }
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: $base-color;
        opacity: .85;
    }
    .banner-content {
        padding: 280px 0;
        text-align: center;
        h1 {
            font-size: 62px;
            color: $white;
            font-weight: 700;
            margin-top: -19px;
            margin-bottom: 21px;
        }
        p {
            color: $white;
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;
            opacity: .9;
            max-width: 750px;
            margin: 0 auto;
        }
        .content-button {
            margin-top: 37px;
            a {
                height: 60px;
                width: 220px;
                display: inline-block;
                line-height: 60px;
                background: $white;
                color: #0088ff;
                border: 1px solid #0088ff;
                @include transition($transition);
                font-weight: 700;
                font-family: $body-font;
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                margin-right: 25px;
                &:hover {
                    background: #0088ff;
                    color: $white;
                }
                &:last-child {
                    background: #0088ff;
                    margin-right: 0;
                    color: $white;
                    &:hover {
                        background: $white;
                        color: #0088ff;
                        border-color: $white;
                    }
                }
                &:first-child {
                    border-color: $white;
                    &:hover {
                        border-color: $base-color-2;
                    }
                }
            }
        }
    }
}